.container {
  max-height: 100vh;
  max-width: 80vw;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-gap: 5vw;
  align-self: center;

}
.component{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;

}