.cursor {
  border-left: 0.1em solid black;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title {
  font-size: 3em;
  font-family: "Helvetica", "Arial", sans-serif;
  
  
}

