.arrowAnim {
  width: 5vw;
  height: 5vh;
  display: flex;
  flex-direction:column;
}

.arrow {
  width: 2vw;
  height: 2vw;
  border: 1vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-5vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-3vw);
  }
  80% {
    opacity: 1;
    transform: translateY(3vw);
  }
  100% {
    opacity: 0;
    transform: translateY(5vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-5vw);
  }
  20% {
    opacity: 1;
    transform: translateY(-3vw);
  }
  80% {
    opacity: 1;
    transform: translateY(3vw);
  }
  100% {
    opacity: 0;
    transform: translateY(5vw);
  }
}
