@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.section {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
